<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
  <body>
    {% include "navbar.html" %}

    <section
      class="container py-1 d-flex flex-column min-vh-100 bg-light mw-500">

      <div class="justify-content-center text-center pt-4 pr-5 pl-5">

      <img
      src="{{ url_for('static', filename='img/berhasil.svg') }}"
      class="mt-5"
      alt="scan" />

      <h3><p class="font-weight-bold mt-5">Berhasil Presensi</p></h3>
      <p class="font-weight-normal mt-5 mb-5">{{ a }}</p>

      <a href="/take_foto" class="mt-5 mt-5">Kembali ke halaman presensi</a>
    </section>
  </body>
</html>
